<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunday.dao.StorageMapper">
    <update id="changeStorage">
        update t_storage
        set used    = #{used},
            residue = #{residue}
        where product_id = #{productId}
    </update>
    <select id="selectStorageById" resultType="StorageDO">
        select *
        from t_storage
        where product_id = #{productId}
    </select>
</mapper>