<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunday.dao.AccountMapper">
    <update id="changeAccount">
        update t_account
        set used    = #{used},
            residue = #{residue}
        where user_id = #{userId}
    </update>
    <select id="selectAccountById" resultType="AccountDO">
        select *
        from t_account
        where user_id = #{userId}
    </select>
</mapper>