<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunday.dao.PaymentDAO">
    <insert id="create" parameterType="PaymentDO" useGeneratedKeys="true" keyProperty="id">
        insert into payment(serial_num)
        values (#{serialNum})
    </insert>
    <select id="getPaymentById" resultType="PaymentDO">
        select *
        from payment
        where id = #{id}
    </select>
</mapper>